@import "variables-colores";

/* contacto.html */
.formgrid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #222222;
    min-height: 100vh;
    .contacto{
        display: flex;
        flex-direction: column;
        margin-left: 120px;

        .title-contacto {
        
            text-align: center;
            font-family:'Bebas Neue' ;
            color: $blanco;
            font-size: 4rem;}
            h4{
                font-size: 20px;
                text-align: center;
                font-family: 'roboto';
                color: $blanco;
            }
    }
    .form-container {
        padding: 10%;
        width: 100%;
        color: $blanco;
        font-family: 'roboto';
    }
}

/* Fin FORMULARIO */
/* Fin contacto.html */