@import "variables-colores";
/* Navbar Bootstrap */
header {
    .navbar-main {
        .active {
            text-decoration: underline $blanco;
            text-underline-offset: 30%;
        }
    }
    .container-fluid {
        a {
            color: $blanco;
        }
    }
    .nav-item {
        a {
            color: $blanco;
        }
    }
a.nav-link {
	&:hover {
		color: $gris;
	}
}
a.navbar-brand {
	&:hover {
		color: $gris;
	}
}
nav {
	ul {
		li {
			list-style: none;
			float: left;
			margin-right: 25px;
			margin-left: 25px;
			font-family: roboto;
			font-size: 87%;
		}
	}
}
}
/* FIN Navbar Bootstrap */