@import "variables-colores";
/* sobremi.html */
/* GRID */
.conteinersobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .portrait {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .texto {
        margin-top: 40%;
        font-family: 'Bebas Neue';
        font-size: 115%;
        padding: 10%;
        text-align: center;
    }

    .parrafo {
        margin-top: 10%;
        font-family: roboto;
        font-size: 105%;
    }

    .holasoypablo {
        display: inline-block;
        position: relative;
    }
    .holasoypablo {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: 0;
            left: 0;
            background-color: $azul;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.6s ease-out;
        }
        &:hover {
            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }    
}
/* GRID Fin */
/* Fin sobremi.html */
