@import "variables-colores";

/* sobremi.html */
/* GRID */
.conteinersobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .portrait {
        background-color: $blanco;
        min-height: 100vh;

        img {
            width: 100%;
        }
    }

    .texto {
        background-color: #222222;

        div {
            display: flex;

            .h1-1 {
                display: flex;
                position: absolute;
                font-family: Bebas Neue;
                background: linear-gradient(90deg, black 40.5%, white 0%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-top: 100px;
                margin-left: -300px;
                font-size: 9rem;
            }

            .h1-2 {
                margin-top: 240px;
                margin-left: 100px;
                color: $blanco;
                display: flex;
                position: absolute;
                font-family: Bebas Neue;
                font-size: 9rem;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background: rgba(0, 0, 0, 0.253);
                width: 480px;
                height: 250px;
                margin-top: 440px;
                margin-left: 140px;

                p {
                    padding: 20px;
                    text-align: justify;
                    align-items: center;
                    position: absolute;
                    z-index: 1;
                    font-size: 1.1rem;
                    color: $blanco;
                    font-family: 'roboto';
                }
            }

        }
    }







}

/* GRID Fin */
/* Fin sobremi.html */