@import "variables-colores";
/* trabajo.html */
/* H1 */
.trabajo-background{
    background-color: #222222;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .h1pablogimenez {
        color: $blanco;
        font-size: 2rem;
        font-family: 'Bebas Neue';
        text-align: center;
    }
}
/* Fin H1*/
/* Pinterest(masonrylayout) Gallery */
.container {
    columns: 5 320px;
    gap: 0.5em;
    margin-bottom: 2%;
    object-fit: cover;
    .item {
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: relative;
        
    }
    .title-container {
        margin-top: 2%;
    }
    img {
        width: 100%;
        padding-top: 0.5em;
        object-fit: cover;
        border-radius: 30px;
    }
    .overlay {
        color: $blanco;
        bottom: 0;
        position: absolute;
        background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(0, 0, 1, 1));
        width: 100%;
        margin: 0;
        height: 0;
        transition: 1s ease;
        overflow: hidden;
        border-radius: 0 0 30px 30px;
        h2 {
            font-family: 'Bebas Neue';
            text-align: center;
        }
    }
    .item {
        &:hover {
            .overlay {
                height: 50%;
                cursor: pointer;
            }
        }
    }
}
/* Fin Pinterest(masonrylayout) Gallery */
/* Fin trabajo.html */