//colores//
//variables color: primary//
$negro:black;
$blanco: white;
$gris: gray;
//variables color: secondary//
$gris-secundario: #272A30;
$negro-secundario: #141414;
//variables color: acento//
$azul: blue;