/* selector {
    propiedad: valor;
}
*/
/* Navbar Bootstrap */
header .navbar-main .active {
  text-decoration: underline white;
  text-underline-offset: 30%;
}
header .container-fluid a {
  color: white;
}
header .nav-item a {
  color: white;
}
header a.nav-link:hover {
  color: gray;
}
header a.navbar-brand:hover {
  color: gray;
}
header nav ul li {
  list-style: none;
  float: left;
  margin-right: 25px;
  margin-left: 25px;
  font-family: roboto;
  font-size: 87%;
}

/* FIN Navbar Bootstrap */
/* index.html*/
.index-container {
  display: block;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.index-container .index-flex {
  position: relative;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.index-container .index-flex .section .pablogimenez .fotografia {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos {
  display: inline-block;
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos div h1 {
  display: flex;
  z-index: 1;
  text-overflow: clip;
  letter-spacing: 20px;
  line-height: 120px;
  color: white;
  font-size: 8rem;
  margin-left: 140px;
  padding-top: 40px;
  font-family: "Bebas Neue", cursive;
  animation: h1 4s 1;
}
@keyframes h1 {
  0% {
    opacity: 0%;
    letter-spacing: 25px;
  }
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos div :nth-child(3) {
  display: flex;
  z-index: 1;
  text-overflow: clip;
  letter-spacing: 20px;
  line-height: 120px;
  color: #585858;
  font-size: 2rem;
  margin-left: 140px;
  padding-top: 40px;
  font-family: "Bebas Neue", cursive;
  animation: h1 4s 1;
}
@keyframes h1 {
  0% {
    opacity: 0%;
    letter-spacing: 25px;
  }
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos h4 {
  margin-left: 140px;
  color: white;
  font-family: roboto;
  font-size: 1rem;
  animation: h6 3s 1;
  text-align: justify;
  padding-top: -500px;
}
@keyframes h6 {
  0% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
    bottom: -80px;
  }
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.6;
  padding-top: 80px;
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor .contenedor-botones .boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 80px;
  background: #2e2e2e;
  color: white;
  font-family: Bebas Neue;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor .contenedor-botones .boton::after {
  content: "";
  width: 100%;
  height: 300px;
  background: #747474;
  position: absolute;
  z-index: 1;
  top: -300px;
  left: 0;
  transition: 0.4s ease-in-out all;
  border-radius: 0px 0px 300px 300px;
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor .contenedor-botones .boton:hover::after {
  top: 0;
}
.index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor .contenedor-botones .boton span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.index-container .index-flex .section .pablogimenez .camera img {
  width: 100%;
  animation: rotate 3s 1;
}
@keyframes rotate {
  0% {
    width: 90%;
    opacity: 0%;
    transform: rotate(5deg);
  }
}
.index-container .index-flex .indexheader nav ul li a {
  text-decoration: none;
  color: white;
}
.index-container .index-flex .trabajoheader ul li a {
  text-decoration: none;
}
.index-container .index-cards {
  overflow: hidden;
  background: black;
}
.index-container .index-cards .index-cards-hover {
  opacity: 0%;
  transition: 2s;
}
.index-container .index-cards .index-cards-hover:hover {
  opacity: 100%;
  margin-top: 50px;
}
.index-container .index-cards .index-cards-hover:hover h5 {
  transition: 3s;
  padding: 40px;
}
.index-container .index-cards .index-cards-hover .top-text-card {
  text-align: center;
  padding: 40px;
}
.index-container .index-cards .index-cards-hover .top-text-card h1 {
  color: white;
  font-family: "Bebas Neue";
  transition: 3s;
}
.index-container .index-cards .index-cards-hover .top-text-card h5 {
  color: white;
  font-family: "roboto";
  font-size: small;
  padding: -20px;
  opacity: 100%;
  transition: 3s;
}
.index-container .index-cards .index-cards-hover .cards-line {
  display: flex;
  justify-content: center;
  background: black;
  flex-wrap: wrap;
  transition: 3s;
}
.index-container .index-cards .index-cards-hover .cards-line .card {
  border-radius: 0.1px;
  margin: 15px;
  width: 150px;
  height: 200px;
  border: none;
  margin-left: 50px;
  transition: 3s;
  box-shadow: 1px 3px 15px #2f2f2f;
}
.index-container .index-cards .index-cards-hover .cards-line .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index-container .index-cards .index-cards-hover .cards-line .card h4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0;
  background: linear-gradient(rgba(50, 50, 50, 0.4), rgb(0, 0, 1));
  opacity: 20%;
  font-family: "Bebas Neue";
  font-size: 1.32rem;
  transition: 0.5s;
}
.index-container .index-cards .index-cards-hover .cards-line .card h4:hover {
  opacity: 1;
}
.index-container .index-cameraman {
  background-image: url(imagenes/index/index-cameraman3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
}
.index-container .index-cameraman .cameraman-text {
  transition: 1s;
  opacity: 50%;
}
.index-container .index-cameraman .cameraman-text:hover {
  opacity: 100%;
}
.index-container .index-cameraman .cameraman-text .text-overlay {
  display: flex;
  justify-content: left;
  padding-top: 200px;
  padding-left: 500px;
}
.index-container .index-cameraman .cameraman-text .text-overlay .card-overlay {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  width: 580px;
  height: 230px;
}
.index-container .index-cameraman .cameraman-text .text-overlay .card-overlay div h1 {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Bebas Neue";
}
.index-container .index-cameraman .cameraman-text .text-overlay .card-overlay div h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  color: white;
  font-family: roboto;
  font-size: 1rem;
}
.index-container .index-last {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.index-container .index-last h4 {
  font-size: 1rem;
  color: white;
}

/* Fin Body Index */
/* trabajo.html */
/* H1 */
.trabajo-background {
  background-color: #222222;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container .h1pablogimenez {
  color: white;
  font-size: 2rem;
  font-family: "Bebas Neue";
  text-align: center;
}

/* Fin H1*/
/* Pinterest(masonrylayout) Gallery */
.container {
  columns: 5 320px;
  gap: 0.5em;
  margin-bottom: 2%;
  object-fit: cover;
}
.container .item {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: relative;
}
.container .title-container {
  margin-top: 2%;
}
.container img {
  width: 100%;
  padding-top: 0.5em;
  object-fit: cover;
  border-radius: 30px;
}
.container .overlay {
  color: white;
  bottom: 0;
  position: absolute;
  background: linear-gradient(rgba(50, 50, 50, 0.4), rgb(0, 0, 1));
  width: 100%;
  margin: 0;
  height: 0;
  transition: 1s ease;
  overflow: hidden;
  border-radius: 0 0 30px 30px;
}
.container .overlay h2 {
  font-family: "Bebas Neue";
  text-align: center;
}
.container .item:hover .overlay {
  height: 50%;
  cursor: pointer;
}

/* Fin Pinterest(masonrylayout) Gallery */
/* Fin trabajo.html */
/* experiencias.html */
/* H2 Custom - Overlay */
.experiencias-container {
  overflow: hidden;
  background-color: #222222;
  min-height: 100vh;
}
.experiencias-container .gridexperiencias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.experiencias-container .gridexperiencias .item {
  height: 100vh;
  transition: 1s;
}
.experiencias-container .gridexperiencias .item:hover:nth-child(1) {
  background-color: #b5a0d0;
}
.experiencias-container .gridexperiencias .item:hover:nth-child(2) {
  background-color: #da5152;
}
.experiencias-container .gridexperiencias .item:hover:nth-child(3) {
  background-color: #83b4bc;
}
.experiencias-container .gridexperiencias .item:hover:nth-child(4) {
  background-color: #b98ebc;
}
.experiencias-container .gridexperiencias .item div {
  display: inline-block;
  margin: 20px;
}
.experiencias-container .gridexperiencias .item div:hover h1 {
  opacity: 100%;
}
.experiencias-container .gridexperiencias .item div:hover h4 {
  opacity: 100%;
}
.experiencias-container .gridexperiencias .item div img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  transition: 1s;
  margin-left: 20px;
}
.experiencias-container .gridexperiencias .item div img:hover {
  width: 100%;
  margin-left: 0px;
}
.experiencias-container .gridexperiencias .item div div h1 {
  text-align: center;
  transition: 1s;
  font-family: Bebas Neue;
  color: white;
  opacity: 0%;
}
.experiencias-container .gridexperiencias .item div div h4 {
  text-align: justify;
  transition: 1s;
  font-family: roboto;
  color: white;
  font-size: 1rem;
  opacity: 0%;
}

/* Fin experiencias.html */
/* sobremi.html */
/* GRID */
.conteinersobremi {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.conteinersobremi .portrait {
  background-color: white;
  min-height: 100vh;
}
.conteinersobremi .portrait img {
  width: 100%;
}
.conteinersobremi .texto {
  background-color: #222222;
}
.conteinersobremi .texto div {
  display: flex;
}
.conteinersobremi .texto div .h1-1 {
  display: flex;
  position: absolute;
  font-family: Bebas Neue;
  background: linear-gradient(90deg, black 40.5%, white 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  margin-left: -300px;
  font-size: 9rem;
}
.conteinersobremi .texto div .h1-2 {
  margin-top: 240px;
  margin-left: 100px;
  color: white;
  display: flex;
  position: absolute;
  font-family: Bebas Neue;
  font-size: 9rem;
}
.conteinersobremi .texto div div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.253);
  width: 480px;
  height: 250px;
  margin-top: 440px;
  margin-left: 140px;
}
.conteinersobremi .texto div div p {
  padding: 20px;
  text-align: justify;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: 1.1rem;
  color: white;
  font-family: "roboto";
}

/* GRID Fin */
/* Fin sobremi.html */
/* contacto.html */
.formgrid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #222222;
  min-height: 100vh;
}
.formgrid-container .contacto {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.formgrid-container .contacto .title-contacto {
  text-align: center;
  font-family: "Bebas Neue";
  color: white;
  font-size: 4rem;
}
.formgrid-container .contacto h4 {
  font-size: 20px;
  text-align: center;
  font-family: "roboto";
  color: white;
}
.formgrid-container .form-container {
  padding: 10%;
  width: 100%;
  color: white;
  font-family: "roboto";
}

/* Fin FORMULARIO */
/* Fin contacto.html */
/* Footer */
.footer {
  text-align: center;
  background-color: black;
  color: white;
}
.footer .behanceto {
  text-decoration: none;
  color: white;
}
.footer .mailto {
  text-decoration: none;
  color: white;
}
.footer .mailto:hover {
  color: gray;
}
.footer .behanceto:hover {
  color: gray;
}

/* Fin Footer */
@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Media query */
@media (max-width: 768px) {
  .index-container .index-flex .section .pablogimenez .fotografia {
    display: block;
  }
  .index-container .index-flex .section .pablogimenez .fotografia .index-textos div h1 {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    font-size: 4rem;
  }
  .index-container .index-flex .section .pablogimenez .fotografia .index-textos div :nth-child(3) {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .index-container .index-flex .section .pablogimenez .fotografia .index-textos h4 {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding: 50px;
    font-size: 0.7rem;
  }
  .index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor {
    padding-top: 0px;
  }
  .index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor .contenedor-botones {
    width: 60%;
  }
  .index-container .index-flex .section .pablogimenez .fotografia .index-textos .contenedor .contenedor-botones .boton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-container .index-flex .section .pablogimenez .camera {
    padding-top: 80px;
  }
  .index-container .index-flex .section .pablogimenez .camera h4 {
    display: flex;
    padding-top: 0px;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 40px;
  }
  .index-container .index-flex .section .pablogimenez .camera img {
    width: 100%;
  }
  .index-container .index-flex .section .pablogimenez .contenedor {
    display: flex;
    justify-content: center;
    padding-top: 0px;
  }
  .index-container .index-flex .section .pablogimenez .contenedor .contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .index-container .index-cards .index-cards-hover {
    opacity: 100%;
  }
  .index-container .index-cards .index-cards-hover .index-cards-hover:hover {
    opacity: 100%;
  }
  .index-container .index-cards .index-cards-hover .cards-line .card {
    margin-left: 10px;
    margin-right: 10px;
  }
  .index-container .index-cards .index-cameraman {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding: 0;
  }
  .index-container .index-cards .index-cameraman .cameraman-text {
    opacity: 100%;
  }
  .index-container .index-cards .index-cameraman .cameraman-text:hover {
    opacity: 100%;
  }
  .index-container .index-cards .index-cameraman .cameraman-text .text-overlay {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .conteinersobremi {
    display: block;
  }
  .conteinersobremi .portrait {
    background-color: white;
    min-height: 0vh;
  }
  .conteinersobremi .portrait img {
    width: 100%;
    margin-left: 0px;
  }
  .conteinersobremi .texto {
    background-color: #222222;
    display: block;
    min-height: 100vh;
  }
  .conteinersobremi .texto div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteinersobremi .texto div .h1-1 {
    position: none;
    background: linear-gradient(90deg, rgb(255, 255, 255) 35%, white 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -300px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 4rem;
  }
  .conteinersobremi .texto div .h1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -90px;
    margin-left: 0px;
    color: white;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 4rem;
  }
  .conteinersobremi .texto div div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: none;
    background: rgba(0, 0, 0, 0.253);
    width: 240px;
    height: 260px;
    margin-top: 300px;
    margin-left: 0px;
  }
  .conteinersobremi .texto div div p {
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: justify;
    align-items: center;
    position: none;
    z-index: 1;
    font-size: 0.9rem;
    color: white;
    font-family: "roboto";
  }
}
@media (max-width: 768px) {
  .experiencias-container .gridexperiencias {
    display: block;
  }
  .experiencias-container .gridexperiencias .formgrid-container .contacto {
    padding-top: 15px;
    margin-left: 0px;
  }
  .experiencias-container .gridexperiencias .formgrid-container .contacto .title-contacto {
    font-size: 4rem;
  }
  .experiencias-container .gridexperiencias .formgrid-container .contacto h4 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .formgrid-container {
    display: inline-block;
  }
  .formgrid-container .contacto {
    padding-top: 70px;
    margin-left: 0;
  }
  .formgrid-container .contacto .title-contacto {
    text-align: center;
    font-size: 4rem;
  }
  .formgrid-container .contacto h4 {
    font-size: 1.2rem;
  }
  .formgrid-container .form-container {
    padding: 30px;
    width: 100%;
  }
}
/* Media query */

/*# sourceMappingURL=style.css.map */
