/* selector {
    propiedad: valor;
}
*/


@import "header";
@import "index";
@import "trabajo";
@import "experiencias";
@import "sobremi";
@import "contacto";
@import "footer";
@import "variables-colores";


@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Media query */

@media (max-width: 768px) {
 .index-container{
    .index-flex{
        background-size: cover;
        background-position: 20%;
        .section{
            .pablogimenez{
                display: inline-block;
                .fotografia{
                    h1{
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        padding-top: 3rem;
                        font-size: 6rem;
                        margin-left: 0px;
                }
                h2{
                    display: flex;
                        justify-content: center;
                        text-align: center;
                        margin-left: 0px;
                        padding-top: 2px;
                }
                h4{
                    display: flex;
                        justify-content: center;
                        text-align: center;
                        margin-left: 0px;
                        padding: 10px;
                }
                }    
                .camera{
                    h4{
                        display: flex;
                            justify-content: center;
                            text-align: center;
                            font-size: 0.7rem;
                    }
                }   
            }
            .fotografia{
                h2{
                    margin-left: 0;
                    text-align: center;
                }
            }
            
         }
        .contenedor{
            display: flex;
            justify-content: center;
            padding-right: 0;
           
            .contenedor-botones{
                .boton{
                    display: flex;
                align-items: center;
                justify-content: center;
                width: 250px;
                height: 80px;
            }
        }
    }
    .index-cameraman{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .cameraman{
            width: 100%;
            img{
                
                height: 100%;
            object-fit: cover;}
        }
        
    }
    }
    .index-cameraman{
        display: inline-block;
        padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding: 0;
        
        .cameraman{
            img{
                width: 100%;
                padding: 10%;
                
            }
        }
    }
 }
 
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 768px) {
    .gridexperiencias {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 768px) {
    .conteinersobremi {
        grid-template-columns: repeat(1, 1fr);

        .portrait {
            margin-top: 10px;
        }

        .texto {
            margin-top: 10px;
        }
    }
}
@media (max-width: 768px) {
    .formgrid-container {
        grid-template-columns: repeat(1, 1fr);
        .title-contacto {
            text-align: center;
        }
    }
}
/* Media query */