/* selector {
    propiedad: valor;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
    font-family: tenorsans;
    src: url(TenorSans-Regular.ttf);
}
/* Navbar Bootstrap */
.navbar-main .active {
    text-decoration: underline white;
    text-underline-offset: 30%;
}
.container-fluid a {
    color: white;
}
.nav-item a {
    color: white;
}
nav ul li {
    list-style: none;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    font-family: roboto;
    font-size: 87%;
}
/* FIN Navbar Bootstrap */

/* index.html*/
/* Background */
.indexbody {
    background-image: url('imagenes/background/background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Fin Background */

/* Body Index */
.pablogimenez h1 {
    text-align: center;
    margin-top: 15%;
    color: white;
    font-size: 300%;
    font-family: tenorsans;
}
.fotografia h2 {
    text-align: center;
    color: white;
    font-family: roboto;
}
.trabajopng {
    text-align: center;
    padding-top: 1%;

}
.indexheader nav ul li a {
    text-decoration: none;
    color: white;
}

.trabajoheader ul li a {
    text-decoration: none;
}
/* Fin Body Index */



/* trabajo.html */
/* H1 */
.h1pablogimenez {
    color: black;
    font-size: 150%;
    font-family: tenorsans;
    text-align: center;
}
/* Fin H1*/

/* Grid Fotos */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1%;
    margin: 5%;
    margin-top: 2%;
    grid-template-areas: "item1 item2 item3 item3"
        "item4 item4 item5 item5"
        "item6 item7 item5 item5"
        "item8 item9 item9 item9";
    grid-auto-rows: auto;
}
/* Fin Grid Fotos */

/* Imagenes Grid Area*/
.item1 {
    grid-area: item1;
    position: relative;
}
.item2 {
    grid-area: item2;
    position: relative;
}
.item3 {
    grid-area: item3;
    position: relative
}
.item4 {
    grid-area: item4;
    position: relative
}
.item5 {
    grid-area: item5;
    position: relative
}
.item6 {
    grid-area: item6;
    position: relative
}
.item7 {
    grid-area: item7;
    position: relative
}
.item8 {
    grid-area: item8;
    position: relative
}
.item9 {
    grid-area: item9;
    position: relative
}
/* Fin Grid Area */

/* Item(Imagenes) Custom */

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Item(Imagenes) Custom */

/* H2 Custom - Overlay */
.overlay {
    color: white;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(0, 0, 1, 1));
    width: 100%;
    margin: 0;
    height: 0;
    transition: 1s ease;
    overflow: hidden;
}
.item1:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.item2:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.item3:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.item4:hover .overlay {
    height: 44%;
    cursor: pointer;
}
.item5:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.item6:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.item7:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.item8:hover .overlay {
    height: 50%;
    cursor: pointer;
}
.item9:hover .overlay {
    height: 50%;
    cursor: pointer;
}
/* Fin H2 Custom - Overlay */
/* Fin trabajo.html */





/* experiencias.html */
/* Grid Experiencias */
.gridexperiencias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.gridexperiencias div img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.h2experiencias {
    text-align: center;
}
.item {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.item {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: relative;
}
/* Fin Grid Experiencias */

/* Overlay Grid-Experiencias */
.overlay {
    color: white;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(0, 0, 1, 1));
    width: 100%;
    margin: 0;
    height: 0;
    transition: 1s ease;
    overflow: hidden;
}
.overlay h2{
    text-align: center;
}
.item:hover .overlay {
    height: 50%;
    cursor: pointer;
}
/* Fin Overlay Grid-Experiencias */

/* Experiencias H2-H3 Custom - Overlay */
.h2experiencias {
    font-family: roboto;
    padding-top: 5%;
    text-align: center;
}
.h3experiencias {
    font-size: 90%;
    font-family: roboto;
    padding: 5%;
}
/* Fin Experiencias H2-H3 Custom - Overlay */
/* Fin experiencias.html */


/* sobremi.html */
/* GRID */
.conteinersobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.portrait img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texto {
    margin-top: 40%;
    font-family: roboto;
    font-size: 115%;
    padding: 10%;
}
.parrafo {
    margin-top: 10%;
    font-family: roboto;
    font-size: 105%;
}
.holasoypablo {
    display: inline-block;
    position: relative;
}
.holasoypablo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
.holasoypablo:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* GRID Fin */
/* Fin sobremi.html */



/* contacto.html */
.contacto h1{
    font-size: 30px;
    text-align: center;
}

.contacto-h4{
    margin-top: 5%;
}
.contacto h4{
    font-size: 20px;
    text-align: center;
}
/* FORMULARIO */
.formgrid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-container{   
    padding: 10%;
    width: 100%;
}
/* Fin FORMULARIO */
/* Fin contacto.html */

/* Footer */
.footer {
    text-align: center;
    background-color: black;
    color: #fff;
    }
/* Fin Footer */




/* Media query */
@media (max-width: 768px) {
    .trabajopng {
        margin-top: 30% ;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr) ;
    }
}

@media (max-width: 768px) {
    .gridexperiencias {
        grid-template-columns: repeat(1, 1fr) ;
    }
}
@media (max-width: 768px) {
    .conteinersobremi {
        grid-template-columns: repeat(1, 1fr) ;
    }
    .portrait{
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .formgrid-container {
        grid-template-columns: repeat(1, 1fr) ;
    }
}