/* selector {
    propiedad: valor;
}
*/

@import "header";
@import "index";
@import "trabajo";
@import "experiencias";
@import "sobremi";
@import "contacto";
@import "footer";

//colores//
//variables color: primary//
$negro:black;
$blanco: white;
$gris: gray;
//variables color: secondary//
$gris2: #272A30;
//variables color: acento//
$azul: blue;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
    font-family: tenorsans;
    src: url(TenorSans-Regular.ttf);
}

/* Media query */
@media (max-width: 768px) {
    .contenedor {
        margin-top: 30%;

        .boton {
            width: 250px;
            height: 80px;
            text-decoration: none;
            background: #141414;
            color: #fff;
            font-family: 'roboto';
        }
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .gridexperiencias {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .conteinersobremi {
        grid-template-columns: repeat(1, 1fr);

        .portrait {
            margin-top: 10px;
        }

        .texto {
            margin-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    .formgrid-container {
        grid-template-columns: repeat(1, 1fr);
        .title-contacto {
            text-align: center;
        }
    }
}

/* Media query */