/* selector {
    propiedad: valor;
}
*/


@import "header";
@import "index";
@import "trabajo";
@import "experiencias";
@import "sobremi";
@import "contacto";
@import "footer";
@import "variables-colores";


@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Media query */

@media (max-width: 768px) {
    .index-container {
        .index-flex {
            .section {
                .pablogimenez {
                    .fotografia {
                        display: block;

                        .index-textos {
                            div {
                                h1 {
                                    justify-content: center;
                                    align-items: center;
                                    margin-left: 0;
                                    font-size: 4rem;
                                }
                            }

                            div :nth-child(3) {
                                justify-content: center;
                                align-items: center;
                                margin-left: 0;
                                font-size: 1.5rem;
                            }

                            h4 {
                                justify-content: center;
                                align-items: center;
                                margin-left: 0;
                                padding: 50px;
                                font-size: 0.7rem;
                            }

                            .contenedor {
                                padding-top: 0px;

                                .contenedor-botones {
                                    width: 60%;

                                    .boton {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                    }
                                }
                            }
                        }



                    }

                    .camera {
                        padding-top: 80px;

                        h4 {
                            display: flex;
                            padding-top: 0px;
                            justify-content: center;
                            text-align: center;
                            font-size: 1.2rem;
                            padding: 40px;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .contenedor {
                        display: flex;
                        justify-content: center;
                        padding-top: 0px;

                        .contenedor-botones {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 60%;


                            .boton {}
                        }
                    }
                }


            }


        }

        .index-cards {
            .index-cards-hover {
                opacity: 100%;

                .index-cards-hover:hover {
                    opacity: 100%;
                }

                .cards-line {
                    .card {
                        margin-left: 10px;
                        margin-right: 10px;

                    }
                }
            }


            .index-cameraman {

                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding: 0;

                .cameraman-text {
                    opacity: 100%;

                    &:hover {
                        opacity: 100%;
                    }

                    .text-overlay {
                        display: flex;
                        justify-content: center;
                        padding-top: 200px;
                        padding-left: 0px;
                    }
                }


            }
        }

    }

}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}



@media (max-width: 768px) {
    .conteinersobremi {
        display: block;
        
    
        .portrait {
            background-color: $blanco;
            min-height: 0vh;
            
    
            img {
                width: 100%;
                margin-left: 0px;
            }
        }
    
        .texto {
            background-color: #222222;
            display: block;
            min-height: 100vh;
    div{display: flex;
        justify-content: center; 
        align-items: center;      
        .h1-1{
            
            position: none;
            
            background: linear-gradient(90deg, rgb(255, 255, 255) 35%, white 0%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    margin-top: -300px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
font-size: 4rem;
        }
        .h1-2{
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: -90px;
            margin-left: 0px;
            color: $blanco;
            position: absolute;
                
                
                font-family: Bebas Neue;
                font-size: 4rem;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: none;
            background: rgba(0, 0, 0, 0.253);
            width: 240px;
            height: 260px;
            margin-top: 300px;
            margin-left: 0px;
    
            p {
                display: flex;
                justify-content: center;
                padding: 5px;
                text-align: justify;
                align-items: center;
                position: none;
                z-index: 1;
                font-size: 0.9rem;
                color: $blanco;
                font-family: 'roboto';
            }
        }
    }
   

        }
    
    
    
    
    
    
    
    }
}

@media (max-width: 768px) {
    .experiencias-container {
        .gridexperiencias {
            display: block;

            .formgrid-container {

                .contacto {
                    padding-top: 15px;
                    margin-left: 0px;

                    .title-contacto {
                        font-size: 4rem;
                    }

                    h4 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .formgrid-container{
        display: inline-block;
        .contacto{
        padding-top: 70px;
            margin-left: 0;
            .title-contacto{
                text-align: center;
                font-size: 4rem;
            }
            h4{
                font-size: 1.2rem;
            }
        }
        .form-container{
            
            padding: 30px;
            width: 100%;
            
            
        }
    }
}
/* Media query */